<div class ="container">
 <%= link_to "Back", "/users/#{@user.id}/hikes/#{@complete.hike.id}/complete" %>

    

    <div class="row">      
        <%@participants.each do |p|%>
            <%p.participant_comments.each do |pc|%>
                <%if pc.image.attached?%>
                    <div id="image-test">
                        <div class="card">
                            <img class="card-img" href="<%= url_for(pc.image) %> "> <%= image_tag pc.image%>
                                <div id="comment-test">
                                    <div class="card-body">
                                        <p class="card-text"><b>Entry: </b><%= pc.body%>
                                        <p class="card-text"><b><p>Hiker: </b><%= pc.participant.user.first_name%></p>
                                    </div>
                                </div>
                        </div>
                    </div>
                <%end%>
            <%end%>
        <%end%>
    </div>    

    <div class="row">
        <%@comments.each do |c|%>

            <%if c.image.attached?%>
                <div id="image-test">
                    <div class="card">
                        <img class="img" href="<%= url_for(c.image) %> "> <%= image_tag c.image%>
                        <div id="comment-test">
                            <div class="card-body">
                                <p class="card-text"><b>Entry: </b><%= c.body%></p>
                                <p class="card-text"><b>Hiker: </b><%= c.complete.user.first_name %></p>
                            </div>
                        </div>
                    </div>
                </div>
            <%else %>
                <div id="comment-test">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text"><b>Entry: </b><%= c.body%></p>
                            <p class="card-text"><b>Hiker: </b><%= c.complete.user.first_name %></p>
                        </div>
                    </div>
                </div>
            <%end%>              
        <%end%>
    </div>


</div>

