<div class ="container">

    

            <%@participants.each do |p|%>
                <%p.participant_comments.each do |pc|%>
                
                    <b><p>Hiker: </b><%= pc.participant.user.first_name%></p>
                    <b>Entry: </b><%= pc.body%>
                    <%if pc.image.attached?%>
                        <a href="<%= url_for(pc.image) %> "> <%= image_tag pc.image, style: "width: 75px; display: block"%> </a>
                    <%end%>
                
                <%end%>
            <%end%>

            <%@comments.each do |c|%>
               
                <p><b>Hiker: </b><%= c.complete.user.first_name %></p>
                <b>Entry: </b><%= c.body%>
                <%if c.image.attached?%>
                    <a href="<%= url_for(c.image) %> "> <%= image_tag c.image, style: "width: 75px; display: block"%> </a>
                <%end%>
               
            <%end%>
      



</div>

