 <body>

  <div id="user-complete-header">
    <h1><%=  "Trip Report For Hiking Mount #{@hike.name}"%></h1>
  </div>


 <div class="container">


 <div class="title-center">
    <h2><%= "Journal Entries" %></h2>
  </div>
    <div class="row">

    <% @comments.each do |c| %>
     <div class="col-sm-3">
      <p>Entry Date: <%= c.created_at.strftime("%m-%d-%Y") %></p>
      <p>Entry: <%= c.body%></p>
        <% if c.image.attached? %>

          <a href="<%= url_for(c.image) %> "> <%= image_tag c.image, style: "width: 250px; display: block"%> </a>


        <% end %>

        <% if current_user == @user %>

          <p> <%= button_to "Delete Entry", "/users/#{@user.id}/hikes/#{@hike.id}/comment/#{c.id}", method: :delete  %> </p>
        
        <% end %>
    </div>
    <% end %>
  </div>

    <% if current_user == @user %>
      <%= link_to "Add Journal Entry", "/users/#{@user.id}/hikes/#{@hike.id}/comment/new" %>
    <%end%>

<div class="title-center">
    <h2><%=  "Gear Used"%></h2>
  </div>
    <div class="row">

    <% @gear_used.each do |gear|%>
    <div class="col-sm-3">
        <p>Name: <%= gear.user_gear.name %></p>
        <p>Weight: <%= gear.user_gear.weight %> lbs</p>

        <% if current_user == @user %>
          <p> <%= button_to "Delete Item", "/users/#{@user.id}/hikes/#{@hike.id}/gear/#{gear.id}", method: :delete %> </p>
        <%end%>
    </div>

    <% end %>
    </div>

    <% if current_user == @user %>

     <%= link_to "Add Gear Used", "/users/#{@user.id}/hikes/#{@hike.id}/gear/new" %>

    <%end%>

  <div class="title-center">
    <h2><%=  "Trip Participants"%></h2>
  </div>

<h5> Trip Creator </h5>
    <div class="row"> 
     <div class="col-sm-3">

      <%if @user.avatar.attached? %>

          <a href="<%= url_for(user_path(@user)) %> "> <%= image_tag @user.avatar, style: "width: 100px; display: block"%> </a>
          <%= @user.first_name%>
      
    <%end%>
    </div>
   </div>

   <h5> Hiking Buddies </h5>

    <div class="row"> 

    <% @participants.each do |p|%>   
      <div class="col-sm-2">
 
    <% if p.user.avatar.attached?%>
         <a href="<%= url_for(user_path(p.user)) %> "> <%= image_tag p.user.avatar, style: "width: 100px; display: block"%> </a>
          <p><%= p.user.first_name%></p>
        <% if current_user == @user %>

          <%= link_to "Remove",  "/users/#{@user.id}/hikes/#{@hike.id}/participants/#{p.id} ", method: :delete%>
        <%end%>
    <% else %>
         <p><%= p.user.first_name%></p>
          <% if current_user == @user %>

         <%= link_to "Remove",  "/users/#{@user.id}/hikes/#{@hike.id}/participants/#{p.id} ", method: :delete%>
        <%end%>
    <% end %>
    </div>

    <%end%>
  </div>
    
  <% if current_user == @user %>

      <%= link_to "Add Participant",  "/users/#{@user.id}/hikes/#{@hike.id}/participants/new "%>


    <%end %>


    <div class="title-center">
          <h2>Total Weight</h2>
    </div>
        <p><%= @total_weight %> lbs</p>

  </div>
</body>
