


<div class="container text-center">

    <div class="row">

        <div class ="col">
        <% if current_user == @user %>
            <%if @complete.title.blank?%>
                <h1><%= link_to "Add a Title", "/users/#{@user.id}/hikes/#{@hike.id}/complete/edit", method: :get%> </h1>
            <%end%>
             
        <%end%>
        <h1> <%= @complete.title%> </h1>
        </div>
    </div>
</div>      


<div class="container ">

    <div class="row">
        <div class ="col-lg-8">
           <div id="user-comments">
              <div class="title">
               <h3> Journal Entries</h3>
              </div>                                   
                    <div id="carousel-test" class="carousel slide" data-ride="carousel">
                        
                            <div class="carousel-inner">
                                <%@comments.each_with_index do |c,i|%>
                                    <% if c.image.attached? %>
                                        <div class="carousel-item <%= "active " if i==0 %>">
                                            
                                           <a href="<%= url_for(c.image) %> "> <%= image_tag c.image, class: "d-block w-100" %></a>
                                            <div class="carousel-caption d-none d-md-block">
                                                
                                                <p><%=c.body%></p>
                                            </div>
                                        </div>
                                        


                                    <%end%>
                                <%end%>
                                
                            </div>
                    </div>
                    <div class="row ">
                        <div class="col">
                        <center>
                            <% if current_user == @user%>
                                <%= button_to "Add Entry","/users/#{@user.id}/hikes/#{@hike.id}/comment/new", method: :get, class: "btn btn-primary"%>
                            <%else%>
                                <%@participants.each do |p|%>
                                    <%if current_user == p.user%>
                                        <%= button_to "Add Entry", "/users/#{@user.id}/hikes/#{@hike.id}/participant/#{p.id}/participant_comment/new", method: :get, class: "btn btn-primary" %>

                                    <%end%>
                                <%end%>
                        
                            <%end%>
                        </div>
                        <div class="col">
                         <%=  button_to "View all entries", "/users/#{@user.id}/hikes/#{@hike.id}/comments", method: :get, class: "btn btn-primary" %>
                        </div>
                        </center>
                    </div>
                </div>
        </div>
            <div class ="col-lg-4">
                <div id="user-comments">
                     <div class="title">
                      <h5> Trip Creator</h5>
                     </div>
                        <div class="row"> 
                            <div class="col">
                                <%if @user.avatar.attached? %>

                                    <a href="<%= url_for(user_path(@user)) %> "> <%= image_tag @user.avatar, style: "width: 50px; display: block"%> </a>
                                <%= @user.first_name%>
                        
                                <%end%>
                            </div>
                        </div>

                            <div class="title">
                             <h5> Hiking Buddies</h5>
                            </div>

                        <div class="row"> 

                            <% @participants.each do |p|%>   
                                <div class="col-sm-2">
                        
                                    
                                        <a href="<%= url_for(user_path(p.user)) %> "> <%= image_tag p.user.avatar, style: "width: 50px; display: block"%> </a>
                                        <p><%= p.user.first_name%></p>
                                    
                                        <% if current_user == @user %>

                                             <%= link_to "Remove",  "/users/#{@user.id}/hikes/#{@hike.id}/participants/#{p.id} ", method: :delete%>
                                        <%end%>
                                    
                                </div>
                                
                            <%end%>
                            
                        </div>
                        <% if current_user == @user %>

                            <%= link_to "Add Participant",  "/users/#{@user.id}/hikes/#{@hike.id}/participants/new "%>


                        <%end %>
                </div>
            </div>             
    </div>
 </div> 

<div class="container">
    <div class="row">
        <div class ="col-lg-4">
            <div id="user-comments">
             <div class="title">
               <h3> Gear </h3>
              </div>
                <div class ="row">
                    <div class="col">
                   <%@grouped_gear_used.each do |gg|%>
                    
                        <p> <b>Hiker: </b><%=gg.first[1]%></p>
                        
                        <p><b> Item Count: </b><%=gg.last.count%></p>
                    <div class ="row">
                        <div class="col">
                      
                           
                                                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong-<%=gg.first%>">
                                    View Items
                                    </button>
                            
                           
                            <div class="col-lg-6">
                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModalLong-<%=gg.first%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle"><%=gg.first[1]%> </h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                        <div class= "row">

                                            <div class="col-lg-4">
                                                <div id="guest-cost">
                                                    <h2>Item</h2>
                                                     <%gg.last.each do |ggl|%>
                                                        <div class="col">
                                                            <%=ggl.user_gear.name%>
                                                        </div>
                                                    <%end%>
                                                    
                                                </div>
                                            </div>

                                            <div class="col-lg-4">
                                                <div id="guest-cost">
                                                    <h2>LBS</h2>
                                                    <%gg.last.each do |ggl|%>
                                                        <div clas="col">
                                                            <%=ggl.user_gear.pounds%>
                                                        </div>
                                                    <%end%>
                                                </div>
                                            </div>

                                            <div class ="col-lg-4">
                                                <div id="guest-cost">
                                                    <h2>OZ</h2>
                                                    <%gg.last.each do |ggl|%>
                                                        <div class="col">
                                                            <%=ggl.user_gear.ounces%>
                                                        </div>
                                                    <%end%>
                                                </div>
                                            </div>
                                            
                                    </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                        </div>
                                    </div>
                                    </div>
                            </div>
                        </div>  
                       
                    </div>
                    <%end%>

                    </div>
                </div>

                <%if current_user == @user %>
                    <%= link_to "Add Gear Used", "/users/#{@user.id}/hikes/#{@hike.id}/gear/new" %>
                <%end%>

                <% @participants.each do |p|%>
                    <% if current_user == p.user%>
                         <%= link_to "Add Gear Used", "/users/#{@user.id}/hikes/#{@hike.id}/gear/new" %>

                    <%end%>
                <%end%>

                 
                   <h2>Total Weight</h2>
                   <p><%= @total_weight %> lbs</p>
            </div>
        </div>

        <div class ="col-lg-4">
            <div id="user-comments">

                <div class="title">
                <h3> Shared Costs</h3>
               </div>
                  <div class ="row justify-content-between">
                        <div class="col">
                            <p><b>Hiker: </b><%= @user.first_name%></p>

                            <p>Total Costs: <%= @host_cost%></p>

                                                            <!-- Button trigger modal -->
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
                                View Costs
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle"><%= @user.first_name%></h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                    <div class= "row">
                                    <div class="col">
                                    <div id="guest-item">
                                        <h2>Item</h2>
                                        <% @complete.costs.each do |gg|%>
                                            <p><%= gg.item %> </p>
                                        
                                        <% end %>
                                        </div>
                                    </div>

                                    <div class="col">
                                        <div id="guest-cost">
                                            <h2>Cost</h2>
                                            <% @complete.costs.each do |gg|%>
                                                <p>$<%= gg.price%></p>
                                            <% end %>
                                        </div>
                                    </div>
                                </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                    </div>
                                </div>
                                </div>
                        </div>

                   </div>

                   <div class="row">
                        
                             <% @participants.each do |p|%>
                            <div class="col-lg-6">
                                <p><b>Hiker: </b><%= "#{p.user.first_name}" %></p>
                                <p> Total Costs: <%= p.guest_costs.sum(:price)%></p>
                                                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong-<%=p.id%>">
                                    View Costs
                                    </button>

                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModalLong-<%=p.id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle"><%=p.user.first_name%> </h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                        <div class= "row">
                                        <div class="col">
                                        <div id="guest-item">
                                            <h2>Item</h2>
                                            <% p.guest_costs.each do |gg|%>
                                                <p><%= gg.item %> </p>
                                            
                                            <% end %>
                                            </div>
                                        </div>

                                        <div class="col">
                                            <div id="guest-cost">
                                                <h2>Cost</h2>
                                                <% p.guest_costs.each do |gg|%>
                                                    <p>$<%= gg.price%></p>
                                                <% end %>
                                            </div>
                                        </div>
                                    </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                        </div>
                                    </div>
                                    </div>
                            </div>
                            <%end%>


            </div>  
                            <div class="row">
                                <div class="col">
                                    <% if current_user == @user%>
                                            <p><%= link_to "Add Cost" , "/users/#{@user.id}/hikes/#{@hike.id}/cost/new"%></p>
                                        <%else%>
                                                <% @participants.each do |p|%>
                                                    <% if current_user == p.user%>
                                                        <p><%= link_to "Add Cost" , "/users/#{@user.id}/hikes/#{@hike.id}/participant/#{p.id}/guest_cost/new"%>
                                                    <%end%>
                                                <%end%>
                                        <%end%>
                                    
                                            <p><b> Total Cost: $</b><%= @total_cost%> </p>
                                            <p><b> Cost Per Person: $</b><%= @split_cost.round(2)%> </p>
                                </div>
                            </div>

                        </div>             
        </div>




  
        <div class ="col-lg-4">
            <div id="user-comments">
                 <div class="title">
                  <h3> Hike Information</h3>
                </div>
                     <div class ="row justify-content-between">
                        <div class="col">

                            <p><b>Peak: </b><%=@hike.name%></p>
                            <p><b>Location: </b><%=@hike.location%></p>
                            <p><b>Elevation: </b><%=@hike.elevation%></p>
                            <p><b>Prominence: </b><%=@hike.prominence%></p>

                        </div>
                    </div>
            </div>
        </div>
    </div>
</div> 


    