<div class="row">
      <% @comments.each do |c| %>
          <div class="col-sm-3">
            <p>Entry Date: <%= c.created_at.strftime("%m-%d-%Y") %></p>
            <p>Entry: <%= c.body%></p>
              <% if c.image.attached? %>

                <a href="<%= url_for(c.image) %> "> <%= image_tag c.image, style: "width: 250px; display: block"%> </a>


              <% end %>
              <%= button_to "Delete Comment", "/users/#{@user.id}/hikes/#{@hike.id}/hike_comment/#{c.id}", method: :delete%>
              </div>
      <% end %>
</div>