<body>
<%= link_to "Back", "/users/#{@user.id}/hikes/#{@complete.hike.id}/complete" %>

<br>
    <%= form_with url: "/users/#{@user.id}/hikes/#{@complete.hike.id}/participant/#{@participant.id}/participant_comments", method: :post, local:true do |form| %>

      <h6><p><%= form.label "Add Entry:" %></p></h6>
     <h6><p> <%= form.text_area :body, rows: 2, wrap: "hard" %></p>
     <h6> <p><%= form.label "Add Picture:" %></p></h6>
     <p> <%= form.file_field :image %></p>

      <p><%= form.submit "Submit" %></p>
    <% end %>
</body>
