<body>

<p>
    <%= form_with url: "/register", method: :post, local:true do |form| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@user.errors.count, "error") %>
          prohibited this post from being saved:
        </h2>

        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
      <%= form.label :first_name %>
      <p><%= form.text_field :first_name %></p>

      <%= form.label :last_name %>
      <p><%= form.text_field :last_name %></p>

      <%= form.label :username %>
      <p><%= form.text_field :username %></p>

      <%= form.label :email %>
      <p><%= form.text_field :email %></p>

      <%= form.label :password %>
      <p><%= form.text_field :password %></p>

      <%= form.label :password_confirmation %>
      <p><%= form.text_field :password_confirmation %></p>

     <h6> <p><%= form.label "Add Picture:" %></p></h6>
     <p> <%= form.file_field :avatar %></p>

      <%= form.submit "Submit" %>
    <% end %>
</body>
