<div class = "container text-center">
    <div id="user-trips">
        <div class="row">
            <div class="col">
                

                    <h2>
                        <p><%= @user.first_name %>'s Trips</p>
                    </h2>

                    <div class="row">
                        <div class="col ">
                        <h2>Favorited Peaks</h2>
                            <div id="favorite-hikes">

                            

                            <% if @favorites.blank? && current_user == @user %>
                                <%= link_to "Add A Favorite", "/users/#{@user.id}/discover"%>
                            <% else %>

                                
                                <% @favorites.each do |fav| %>
                                    <p><%= link_to "#{fav.hike.name}", "/users/#{@user.id}/hikes/#{fav.hike.id}" %></p>
                                <% end %>
                            <% end %>

                            </div>
                        </div>

                        <div class="col">
                        <h2>Completed Peaks</h2>
                            <div id="completed-hikes">

                            <% if @completes.blank? && current_user == @user %>
                                <%= link_to "Complete A Hike", "/users/#{@user.id}/discover"%>
                            <% else %>

                                

                                <% @completes.each do |complete| %>
                                    <b>Peak:</b>  <%= link_to "#{complete.hike.name}", "/users/#{@user.id}/hikes/#{complete.hike.id}" %>
                                    <br>
                                    <%= link_to "View Trip Report", "/users/#{@user.id}/hikes/#{complete.hike.id}/complete" %>
                                    <br>
                                <% end %>
                            <% end %>

                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
   

<div class="container text-center">
    
    <div class="row">
        <div class= "col">
            <div id="user-gear">
            <h2> <%= @user.first_name %>'s Shed </h2>
                <div class ="row justify-content-between">
                    <% @gear.each do |g| %>

                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <div id="gear-display">
                                <div class="card-title">
                                    <p><b><%= g.name %></b></p>
                                    <% if g.pounds.blank?%>
                                        <b><p>Weight: </b><%= g.ounces %> oz</p>
                                    <% elsif g.ounces.blank?%>
                                        <b><p>Weight: </b><%= g.pounds %> lbs</p>
                                    <%else%>
                                        <b><p>Weight: </b><%= g.pounds %> lbs <%= g.ounces %> oz</p>
                                    <%end%>

                                    <% if current_user == @user %>

                                        <p><%= link_to "Remove", "/users/#{@user.id}/gear/#{g.id}", method: :delete %></p>

                                    <% end %>
                                </div>
                            </div>
                        </div>
                <% end %>
                </div>
            
            <% if current_user == @user %>
                <%= link_to "Add Gear to The Shed", "/users/#{@user.id}/gear/new" %>
            <% end %>
            </div>
        </div>

        <div class= "col">
            <div id="user-gear">

                <h2>Trips I've Been Added To</h2>
        
        

            
                <div class ="row">
                <% @user.participants.each do |participant|%>
                
                <div class= "col-sm-12 col-md-6 col-lg-6">
                    <div id="gear-display">
                    <p> Trip: <%= link_to "#{participant.complete.hike.name}", "/users/#{participant.complete.user_id}/hikes/#{participant.complete.hike_id}/complete" %></p>
                    </div>
                </div>
                
                <% end %>
            </div>
            </div>
        </div>
    </div>
    
</div>



