

<body>

<div class="container">
  <div class="col">
    <div class="title-center">

      <h2>
        <p><%= @user.first_name %>'s Trips</p>
      </h2>

    </div>
  </div>

    <div class="row">
      <div class="col ">
        <div id="favorite-hikes">

          <h2>Favorited Peaks</h2>
          <% @favorites.each do |fav| %>
            <p><%= link_to "#{fav.hike.name}", "/users/#{@user.id}/hikes/#{fav.hike.id}" %></p>
          <% end %>

        </div>
      </div>

      <div class="col">
        <div id="completed-hikes">
          <h2>Completed Peaks</h2>

          <% @completes.each do |complete| %>
            <%= link_to "#{complete.hike.name}", "/users/#{@user.id}/hikes/#{complete.hike.id}" %>
            <br>
            <%= link_to "View Trip Report", "/users/#{@user.id}/hikes/#{complete.hike.id}/complete" %>
            <br>
          <% end %>

        </div>
      </div>
    </div>

    <div class="title-center">
      <h2> <%= @user.first_name %>'s Shed </h2>
    </div>
  <div class="row">

    <% @gear.each do |g| %>
      <div class="col-sm-12 col-md-6 col-lg-3">
       <div class="card">
          <div id="card-body">
           <h6 class="card-title"><p><%= g.name %></p></h6>
            
            <p>Weight: <%= g.weight %> lbs</p>

            <% if current_user == @user %>

              <p><%= link_to "Delete Item", "/users/#{@user.id}/gear/#{g.id}", method: :delete %></p>

            <% end %>
        </div>
        </div>
        </div>
    <% end %>
  </div>
  

<% if current_user == @user %>
  <%= link_to "Add Gear to The Shed", "/users/#{@user.id}/gear/new" %>
<% end %>
</div>

 <h2>Trips I've Been Added To</h2>
<% @user.participants.each do |participant|%>
  
  <p> Hike: <%= link_to "#{participant.complete.hike.name}", "/users/#{participant.complete.user_id}/hikes/#{participant.complete.hike_id}/complete" %></p>
  <p> Leader: <%= link_to "#{participant.complete.user.first_name}", "/users/#{participant.complete.user_id}" %></p>

<% end %>
</body>


