<body>
<h1> Peaks of The White Mountains </h1>

<div class ="container">
<div class="row">
Sort By:
  <div class="col">
<%= link_to "Name", "/users/#{@user.id}/discover?name=1"%>
<%= link_to "Prominence", "/users/#{@user.id}/discover?prominence=1"%>
<%= link_to "Elevation", "/users/#{@user.id}/discover?elevation=1"%>
<%= link_to "Location", "/users/#{@user.id}/discover?location=1"%>
<%= link_to "Range", "/users/#{@user.id}/discover?range=1"%>
  </div>
</div>
</div>


  <div class="row">
    <% @hikes.each do |hike| %>
      <div class="col-lg-4">
        
            <div id="hike-show">
            


                  <h2><p><%=link_to "#{hike.name}", "/users/#{@user.id}/hikes/#{hike.id}", method: :get %></p></h2>
                  <b><p>Location: </b><%= hike.location %></p>
                  <b><p>Range: </b><%= hike.range %></p>
                  <b><p>Features: </b><%= hike.features %></p>

              </div>
        </div>

    <% end %>
  </div>

<%=paginate @hikes%>

</body>


