<body>
<%= paginate @hikes_kam %>

<% @hikes_kam.each do |hike| %>
  <h2><p>Name: <%=link_to "#{hike.name}", "/users/#{@user.id}/hikes/#{hike.id}", method: :get %></p></h2>
  <p>Location: <%= hike.location %></p>
  <p>State: <%= hike.state %></p>
  <p>Range: <%= hike.range %></p>
<% end %>

<%= paginate @hikes_kam %>

</body>


