<body>
<h1> Peaks of The White Mountains </h1>

<%= form_tag(hikes_path_url, :method => :get) do %>
  <%= check_box_tag :prominence %>
  <%= label_tag(:prominence, "Prominence") %>

  <%= check_box_tag :elevation %>
  <%= label_tag(:elevation, "Elevation") %>

  <%= check_box_tag :hike_name %>
  <%= label_tag(:hike_name, "Name") %>

  <%= check_box_tag :location %>
  <%= label_tag(:location, "Location") %>

  <%= check_box_tag :range %>
  <%= label_tag(:range, "Range") %>

  <%= submit_tag 'Filter' %>
<% end %>

<% @hikes.each do |hike| %>
  <h2><p><%=link_to "#{hike.name}", "/users/#{@user.id}/hikes/#{hike.id}", method: :get %></p></h2>
  <b><p>Location: </b><%= hike.location %></p>
  <b><p>Range: </b><%= hike.range %></p>
  <b><p>Features: </b><%= hike.features %></p>

<% end %>

<%= paginate @hikes %>

</body>


