<body>
<h1> Peaks of The White Mountains </h1>

<% @hikes_kam.each do |hike| %>
  <h2><p><%=link_to "#{hike.name}", "/users/#{@user.id}/hikes/#{hike.id}", method: :get %></p></h2>
  <b><p>Location: </b><%= hike.location %></p>
  <b><p>Range: </b><%= hike.range %></p>
  <b><p>Features: </b><%= hike.features %></p>

<% end %>

<%= paginate @hikes_kam %>

</body>


