<% flash.each do |type, msg| %>
<div>
<%= msg %>
</div>
<% end %>

<%@hike_result.each do |hike| %>
<h2><p>Name: <%=link_to "#{hike.name}", "/users/#{@user.id}/hikes/#{hike.id}", method: :get %></p></h2>
<p>Elevation: <%= hike.elevation %> feet</p>
<p>Prominence: <%= hike.prominence %> feet</p>
<p>Location: <%= hike.location %></p>
<p>State: <%= hike.state %></p>
<p>Range: <%= hike.range %></p>
<p>Features: <%= hike.features %></p>
<% end %>
