<h1><%= @hike.name %></h1>
<p>Location: <%= @hike.location %></p>
<p>State: <%= @hike.state %></p>
<p>Range: <%= @hike.range %></p>
<p>Elevation: <%= @hike.elevation %> feet</p>
<p>Prominence: <%= @hike.prominence %> feet</p>
<p>Features: <%= @hike.features %></p>
<p>Latitude: <%= @hike.latitude %></p>
<p>Longitude: <%= @hike.longitude %></p>
<%= button_to "Favorite", "/users/#{@user.id}/hikes/#{@hike.id}", method: :post %>
<%= button_to "Completed", "/users/#{@user.id}/hikes/#{@hike.id}/complete", method: :post %>
