<body>

    <%= form_with url: "/users/#{@user.id}/gear", method: :post, local:true do |form| %>

      <%= form.label :name %>
      <%= form.text_field :name, placeholder: "Name" %>

      <%= form.label :pounds %>
      <%= form.text_field :pounds, placeholder: "Weight in lbs" %>

      <%= form.label :ounces %>
      <%= form.text_field :ounces, placeholder: "Weight in lbs" %>

      <%= form.submit "Submit" %>
    <% end %>
</body>
