<%= link_to "Home", "/" %>

<% if logged_in? %>
  <%= link_to "Profile", "/users/#{@current_user.id}" %>

  <%= link_to "Logout", logout_path, method: :delete %>
  <%= form_tag(search_path, :method=> "get") do %>
    <%= search_field_tag :search, params[:search], placeholder: "Search Name/Feature" %>
    <%= button_tag "Search for hike" %>
  <% end %>

<% else %>
  <%= link_to "Create User", "/register", method: :get %>
  <%= link_to "Login", "/login" %>
<% end %>



<% flash.each do |type, msg| %>
<div>
<%= msg %>
</div>
<% end %>
