
<nav class="navbar navbar-light ">
  <div class="container">
    <a id="header" class="navbar-brand" href="/"><img src="/assets/logo3.png"width="100" height="80"></a>
    <p id='nav-blurb'> Discover The White Mountains</p>

      <div class="nav justify-content-end ">
        <%= link_to "Home", "/", :class => "btn" %>

        <% if logged_in? %>
          <%= link_to "Profile", "/users/#{@current_user.id}", :class => "nav-link" %>
          <%= link_to "Discover Hikes", "/users/#{@current_user.id}/discover", :class => "nav-link" %>

          <%= link_to "Logout", logout_path, method: :delete, :class => "nav-link" %>

        <% else %>
          <%= link_to "Create User", "/register", method: :get, :class => "nav-link" %>
          <%= link_to "Login", "/login", :class => "nav-link" %>
        <% end %>
      </div>
  </div>
</nav>
